@import "tailwindcss";

:root {
  --primary: #fa005a;
  --background: #ffffff;
  --foreground: #000000;

  --sans: "Sniglet", "Geist", "Host Grotesk", sans-serif;
  --serif: "Hedvig Letters Serif", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
  background-color: var(--foreground);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
